<!DOCTYPE html>
<html lang="en">

<head>
    <!--meta tag start-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="edustar">
    <meta name="author" content="khanalprem">
    <meta name="copyright" content="khanalprem">

    <!--title-->
    <title></title>

    <!-- faveicon start   -->
    <link rel="icon" href="../static/images/favicon.png" type="image/x-icon">

    <!-- stylesheet start -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

</head>

<body>
    <header>
        <div class="top-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-5 col-xs-5">
                        <ul class="tophead-link">
                            <li><a href="index.html"><i > Welcome!</i></a></li>
                        </ul>
                    </div>

                    <div class="col-md-7 col-sm-7 col-xs-7 tophead-right">
                        <ul class="tophead-link">
                            <li><a href="tel:18092264121"><i class="fa fa-mobile" aria-hidden="true"></i>18092264121</a>
                            </li>
                            <!-- <li><a href="#"><i class="fa fa-lock" aria-hidden="true"></i> Sign</a>
                            </li>
                            <li><a href="#"><i class="fa fa-key" aria-hidden="true"></i> Register</a>
                            </li> -->
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <!-- Start Navigation -->
        <div id="masthead" class="site-header menu">
            <div class="container">
                <div class="site-branding">
                    <div id="site-identity">
                        <a href="index.html" class="logo"><img src="../static/images/gif/2020.09.05-BIGC-平面-gif/素材/照片/BIGC-平面图标-生物医学信息与基因组学中心-Biomedical%20Informatics%20&%20Genomics%20Center-原.png" alt="logo"></a>
                    </div>
                    <!-- #site-identity -->
                </div>
                <!-- .site-branding -->
                <div class="header-nav-search">
                    <div class="header-search">
                        <!-- <i class="fa fa-search top-search"></i> -->
                        <div class="search-popup">
                            <form role=search action="search" class="search-wrapper">
                                <div>
                                    <input type="text" name="search" placeholder="Type your keyword">
                                    <input type="submit" name="button" class="pop-search">
                                </div>
                            </form>
                            <div class="search-overlay"></div>
                        </div>
                    </div>
                    <div class="toggle-button">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div id="main-navigation">
                        <nav class="main-navigation">
                            <div class="close-icon">
                                <i class="fa fa-close"></i>
                            </div>
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="commitee.html">Committee</a> </li>
                                <li><a href="speakers.html">Speakers</a></li>
                                <!-- <li><a href="temp.html">Call For Papers</a></li> -->
                                <li><a href="schedule.html">Schedule</a></li>
                                <li><a href="submission.html">Submission</a></li>
                                <li><a href="contact.html">Traffic/Hotel</a></li>
                                <li><a href="history.html">History</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Navigation -->
    </header>
    <section class="breadcrumb" style="background-image: url(../static/images/background/创新港景色/创新港图书馆蓝紫-微博@WKing丶.jpg);">
        <div class="breadcrumb-overlay"></div>
        <div class="container">
            <h1><a href="commitee.html">Commitee</a></h1>
            <span><a href="index.html">Home</a></span><span><i class="fa fa-angle-right"></i>Commitee</span>
        </div>
    </section>

    <!-- <section class="popular-course section grey-background">
        <div class="container">
            <div class="title sec-title">
                <h2>Our Features</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras interdum ante vel aliquet euismod. </p>
            </div>
            <div class="pupular-course-inner about-feature-inner">
                <div class="row">
                    <div class="col-md-4">
                        <div class="edu_feature">
                            <div class="edu-feature-icon">
                                <i class="fa fa-columns"></i>
                            </div>
                            <div class="edu-featre-des">
                                <h3>Liberary system</h3>
                                <span></span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras interdum ante vel aliquet. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">

                        <div class="edu_feature">
                            <div class="edu-feature-icon">
                                <i class="fa fa-address-card-o"></i>
                            </div>
                            <div class="edu-featre-des">
                                <h3>Great Teacher</h3>
                                <span></span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras interdum ante vel aliquet. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">

                        <div class="edu_feature">
                            <div class="edu-feature-icon">
                                <i class="fa fa-desktop"></i>
                            </div>
                            <div class="edu-featre-des">
                                <h3>Online Courses </h3>
                                <span></span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras interdum ante vel aliquet. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="edu_feature">
                            <div class="edu-feature-icon">
                                <i class="fa fa-columns"></i>
                            </div>
                            <div class="edu-featre-des">
                                <h3>Liberary system</h3>
                                <span></span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras interdum ante vel aliquet. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">

                        <div class="edu_feature">
                            <div class="edu-feature-icon">
                                <i class="fa fa-address-card-o"></i>
                            </div>
                            <div class="edu-featre-des">
                                <h3>Great Teacher</h3>
                                <span></span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras interdum ante vel aliquet. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">

                        <div class="edu_feature">
                            <div class="edu-feature-icon">
                                <i class="fa fa-desktop"></i>
                            </div>
                            <div class="edu-featre-des">
                                <h3>Online Courses </h3>
                                <span></span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras interdum ante vel aliquet. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <section class="meet-team section">
        <div class="container">
            <div class="title sec-title">
                <h2>Commitee Members</h2>
                <p>Here are the introduction of our committee members.(Underdetermined)</p>
            </div>
            <div class="team-inner">
                <div class="team-carousel owl-carousel owl-theme">
                    <div class="team-item">
                        <div class="team-details">
                            <div class="team-img ">
                                <img class="img-responsive " src="" alt="image" />
                            </div>
                            <div class="team-hover">
                                <h4><a href="#" title="Details ">Pro. XX</a></h4>
                                <p>introduction</p>
                                <div class="team-btn">
                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="primary"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-vimeo"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-bottom">
                            <h4><a href=" #" title="Details ">Pro. XX</a></h4>
                            <p>XX</p>
                        </div>
                    </div>
                    <div class="team-item">
                        <div class="team-details">
                            <div class="team-img ">
                                <img class="img-responsive " src="../static/images/course/杨铁林-证件照（艺术照）.jpg " alt="image" />
                            </div>
                            <div class="team-hover">
                                <h4><a href="#" title="Details ">Pro. Yang TieLin</a></h4>
                                <p>introduction</p>
                                <div class="team-btn">
                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="primary"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-vimeo"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-bottom">
                            <h4><a href="#" title="Details ">Pro. Yang TieLin</a></h4>
                            <p>Xi'an Jiaotong University</p>
                        </div>
                    </div>
                    <div class="team-item">
                        <div class="team-details">
                            <div class="team-img ">
                                <img class="img-responsive " src="" alt="image" />
                            </div>
                            <div class="team-hover">
                                <h4><a href="#" title="Details ">Pro. XX</a></h4>
                                <p>introduction</p>
                                <div class="team-btn">
                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="primary"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-vimeo"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-bottom">
                            <h4><a href=" #" title="Details ">Pro. XX</a></h4>
                            <p>XX</p>
                        </div>
                    </div>
                    <div class="team-item">
                        <div class="team-details">
                            <div class="team-img ">
                                <img class="img-responsive " src="" alt="image" />
                            </div>
                            <div class="team-hover">
                                <h4><a href="#" title="Details ">Pro. XX</a></h4>
                                <p>introduction</p>
                                <div class="team-btn">
                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="primary"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-vimeo"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-bottom">
                            <h4><a href="#" title="Details ">Pro. XX</a></h4>
                            <p>XX</p>
                        </div>
                    </div>
                    <div class="team-item">
                        <div class="team-details">
                            <div class="team-img ">
                                <img class="img-responsive " src="" alt="image" />
                            </div>
                            <div class="team-hover">
                                <h4><a href="#" title="Details ">Pro. XX</a></h4>
                                <p>introduction</p>
                                <div class="team-btn">
                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="primary"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-vimeo"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-bottom">
                            <h4><a href="#" title="Details ">Pro. XX</a></h4>
                            <p>XX</p>
                        </div>
                    </div>
                    <div class="team-item">
                        <div class="team-details">
                            <div class="team-img ">
                                <img class="img-responsive " src="" alt="image" />
                            </div>
                            <div class="team-hover">
                                <h4><a href="#" title="Details ">Pro. XX</a></h4>
                                <p>introduction</p>
                                <div class="team-btn">
                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="primary"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-vimeo"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-bottom">
                            <h4><a href="#" title="Details ">Pro. XX</a></h4>
                            <p>XX</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section> 
<!-- <section class="video section" style="background-image: url(images/background/video-bottom.jpg);">
    <div class="container">
        <div class="video-top">
            <div class="row">
                <div class="col-md-8">
                    <div class="edu-video" style="background-image: url(images/slider/1.jpg);">
                        <div class="edu-video-overlay"></div>
                        <h2>watch video</h2>
                        <div class="playbtn">
                            <a class="video-popup" href=""><span></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="video-sidebar">
                        <div class="video-side-block">
                            <h4><a href="#">See Our Best Skills</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <div class="video-side-icon">
                                <a href="#"><i class="fa fa-file-text-o"></i></a>
                            </div>
                        </div>
                        <div class="video-side-block">
                            <h4><a href="#">Recieve a sign in sheet</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <div class="video-side-icon">
                                <a href="#"><i class="fa fa-file-o"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="video-bottom">
            <div class="row">
                <div class="col-md-4">
                    <div class="video-bottom-inner first">
                        <h4><a href="#">Graduated</a></h4>
                        <p>97% Student Graduated</p>
                        <div class="video-bottom-icon">
                            <i class="fa fa-address-card-o"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="video-bottom-inner">
                        <h4><a href="#">Courses</a></h4>
                        <p>1800 courses we have in 16 years</p>
                        <div class="video-bottom-icon">
                            <i class="fa fa-balance-scale"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="video-bottom-inner last">
                        <h4><a href="#">Modern Class</a></h4>
                        <p>More than 500 modern class room</p>
                        <div class="video-bottom-icon">
                            <i class="fa fa-building"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
    <!-- <section class="testimonial section" style="background: url(images/background/创新港景色/创新港涵英楼正白-无出处.jpg);">
        <div class="testimonial-overlay"></div>
        <div class="container">
            <div class="title sec-title">
                <h2>What our student says ?</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras interdum ante vel aliquet euismod. </p>
            </div>
            <div class="testimonial-inner">
                <div class="testimonial-carousel owl-carousel owl-theme">
                    <div class="testimonial-item">
                        <div class="testi-img">
                            <img src="images/users/1.jpg" alt="">
                        </div>
                        <div class="testi-content">
                            <h4><a href="#">John deon</a></h4>
                            <span>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                            </span>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <div class="testi-img">
                            <img src="images/users/2.jpg" alt="">
                        </div>
                        <div class="testi-content">
                            <h4><a href="#">khanal prem</a></h4>
                            <span>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                            </span>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <div class="testi-img">
                            <img src="images/users/1.jpg" alt="">
                        </div>
                        <div class="testi-content">
                            <h4><a href="#">dahal dipen</a></h4>
                            <span>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                            </span>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <div class="testi-img">
                            <img src="images/users/2.jpg" alt="">
                        </div>
                        <div class="testi-content">
                            <h4><a href="#">anjel sharma</a></h4>
                            <span>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <section class="edu-counter section" style="background-image:url(../static/images/background/创新港景色/创新港涵英楼正蓝-无出处.jpg);">
        <div class="edu-counter-overlay"></div>
        <div class="container ">
            <div class="row clearfix ">
                
                <!-- <div class="col-md-3 col-sm-6 ">
                    <div class="counter-area ">
                        <h2 class="counter ">9300</h2>
                        <h3>已访问</h3>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 ">
                    <div class="counter-area ">
                        <h2 class="counter ">10111</h2>
                        <h3>已注册</h3>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 ">
                    <div class="counter-area ">
                        <h2 class="counter ">9575</h2>
                        <h3>已申请</h3>
                    </div>
                </div> -->

                <div class="col-md-3 col-sm-6 mx-auto">
                    <div class="counter-area ">
                        <h2 class="counter ">0</h2>
                        <h3>已投稿</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- happyclient start -->
    <!-- <section class="clients section">
        <div class="container">
            <div class="sec-title title">
                <h2>Welcome</h2>
                <p>BIGC诚心欢迎各位参与此次会议！</p>
            </div>
            <div class="owl-carousel owl-theme happy-clients">
                <div class="item">
                    <img src="images/clients/校徽-蓝.png" alt="" class="img-responsive">
                </div>
                <div class="item">
                    <img src="images/clients/生命学院院徽.gif" alt="" class="img-responsive">
                </div>
                <div class="item">
                    <img src="images/clients/BIGC-组徽-生物医学信息与基因组学中心-Biomedical Informatics & Genomics Center-蓝.png" alt="" class="img-responsive">
                </div>
                
            </div>
        </div>
    </section> -->
    <!-- happyclient end -->

    <!-- Stat Footer -->
    <footer>
        <div class="container">
            <div class="row mx-auto d-flex justify-content-center">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="footer-widget">
                        <h2>联系方式/Contact Info</h2>
                        <div class="widget-content">
                            <div class="text">如有任何问题，请随时联系。/Feel free to contact us.</div>
                            <address>
                                <p><i class="fa fa-map-marker"></i> 朱老师 / Dr. Zhu</p>
                                <p><i class="fa fa-phone"></i>+86-18192703755</p>
                                <p><i class="fa fa-envelope"></i>zhudongli2018@xjtu.edu.cn</p>
                            </address>
                        </div>
                    </div>
                </div>

                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="footer-widget links-widget">
                        <h2>参会意向/Registration Intention Survey</h2>

                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-sm-12">
                                <ul>
                                    <li><a href="#">为了更好的举办本届会议，请有意向参会的人员长按二维码填写 “参会意向表”/Please scan the QR code to register.</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-sm-6 col-sm-12">
                                <img src="../static/images/course/00.webp" alt="" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>

    </footer>
    <!--Footer Bottom-->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="text text-left">Copyright &copy; 2024.Company name All rights reserved.

                    </div>
                </div>
                <!-- <div class="col-md-6 col-sm-6">
                    <ul class="social-links text-right">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="active"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div> -->
            </div>
        </div>
    </div>

    <!-- scroll top -->
    <a class="scroll-top fa fa-angle-up" href="javascript:void(0)"></a>

    
    <!-- srolltop end -->
    <script src=../static/js/jquery-3.2.1.min.js></script>
    <script src=../static/js/bootstrap.min.js></script>
    <script src=../static/js/jquery.mixitup.min.js></script>
    <script src=../static/js/jquery.fancybox.min.js></script>
    <script src=../static/js/jquery.counterup.min.js></script>
    <script src=../static/js/waypoints.min.js></script>
    <script src=../static/js/jquery.magnific-popup.min.js></script>
    <script src=../static/js/owl.carousel.min.js></script>
    <!-- <script src=js/countdown.js></script> -->
    <script src=../static/js/script.js></script>
    
</body>

</html>
